# Name: Tracking Pre and Post Processing
# Author: Seth Winfree
# Version: 0.6.0

# trkpp package contains three classes.
#
# TrkPP ('T'racking 'P're'P'rocessing) see comments
#Time_LUT see comments
# TrkPP for preprocessing creating single objects from punctate stained cells.
# Time_LUT for post processing and applying time based intensity.

Plugins>Tracking, "PreProcessing", trkpp.Trk_PP
Plugins>Tracking, "Time based intensity", trkpp.Time_LUT
